{% extends 'base.html' %}
{% block content %}

    <h2>{{ title }}</h2>
    <ul>
        <li>Release Date: {{ released_at }}</li>
        <li><a href="{{ imdb_url }}">IMDB</a></li>
        <li>Average rating: {{ average }}</li>
    </ul>
        
        {% if prediction %}
            <p>We predict you will rate this movie {{ prediction }}.</p>
        {% endif %}

        {% if beratement %}
            <p>{{ beratement }}</p>
        {% endif %}

    {% if user_score > 0 %}
        <p id="user-score">Your User Score: {{ user_score }}</p>

        <p>Update Your Rating:</p>
        <form id="update-rating-form" action="/rate_movie" method="POST">
            <input type="radio" name="update_rating" value="1">1
            <input type="radio" name="update_rating" value="2">2
            <input type="radio" name="update_rating" value="3">3
            <input type="radio" name="update_rating" value="4">4
            <input type="radio" name="update_rating" value="5">5
            <input id="update-user" type="hidden" name="user_id" value="{{ user_id }}">
            <input id="update-movie" type="hidden" name="movie_id" value="{{ movie_id }}">
            <input type="submit" value="Update Rating">
        </form>
        
    {% endif %}    
    {% if rating == True %}
        <p id="new-user-score"></p>

        <p>Rate {{ title }}:</p>
        <form id="new-rating-form" action="/rate_movie" method="POST">
            <input type="radio" name="rating" value="1">1
            <input type="radio" name="rating" value="2">2
            <input type="radio" name="rating" value="3">3
            <input type="radio" name="rating" value="4">4
            <input type="radio" name="rating" value="5">5
            <input id="new-user" type="hidden" name="user_id" value="{{ user_id }}">
            <input id="new-movie" type="hidden" name="movie_id" value="{{ movie_id }}">
            <input type="submit" value="Rate">
        </form>

    {% endif %}


    <p>Ratings for this movie:</p>
    <ul>

        {% for rating in ratings %}
            <li>Score: {{ rating.score }}</li>
        {% endfor %}
    
    </ul>

{% endblock %}